<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101517826498-ttd9jhq3anb2m5meh5ne8efcmact1k5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101517826498-ttd9jhq3anb2m5meh5ne8efcmact1k5l</string>
	<key>API_KEY</key>
	<string>AIzaSyA8p2tigWG8vsefIs16TL8R5f15-tPhblA</string>
	<key>GCM_SENDER_ID</key>
	<string>101517826498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnthings</string>
	<key>PROJECT_ID</key>
	<string>learningapp-bf2b6</string>
	<key>STORAGE_BUCKET</key>
	<string>learningapp-bf2b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101517826498:ios:3cde38511a7393b9e09e5b</string>
</dict>
</plist>